*.hi
*.o-boot
*.hi-boot
*.o
*.bmp
*.prof
*.hp
*.DS_store
*.lkshw
.gitignore
*.ps
*.aux
*.hcr
*.s
crocodile
dist/*
dist/setup-config
hlint-output.txt
*~
app/src/Tests/HemisphereTest
app/src/Tests/RandomUVTest/RandomUVTest
